# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# NX
.nx/cache
.nx/workspace-data

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Generated native folders
apps/*/ios
apps/*/android

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Build output
coverage/
